In [1]:
import tensorflow as tf
from  tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Flatten, Conv2D, MaxPooling2D,Activation
import pandas as pd

In [2]:
datos=pd.read_csv('datos2018.csv')
#datos

In [3]:
#seleccione las 10 caracteristicas mas importantes
df=datos[['pkSeqID','seq','mean','stddev','min','max','srate','drate','N_IN_Conn_P_DstIP','N_IN_Conn_P_SrcIP','attack']]

,pkSeqID,seq,mean,stddev,min,max,srate,drate,N_IN_Conn_P_DstIP,N_IN_Conn_P_SrcIP,attack
0,3142762,251984,2.687519,1.900363,0.000000,4.031619,0.494549,0.000000,100,100,1
1,2432264,256724,3.934927,0.078003,3.856930,4.012924,0.256493,0.000000,100,38,1
2,1976315,62921,3.341429,0.268666,2.974100,3.609205,0.294880,0.000000,100,100,1
3,1240757,99168,3.222832,1.823185,0.000000,4.942302,0.461435,0.000000,63,63,1
4,3257991,105063,3.983222,0.822418,2.979995,4.994452,1.002999,0.000000,100,100,1
...,...,...,...,...,...,...,...,...,...,...,...
2934812,1132803,253370,4.102515,0.016992,4.082509,4.124047,0.243473,0.000000,100,100,1
2934813,3384621,231693,2.718527,1.922317,0.000000,4.090534,0.490800,0.000000,100,100,1
2934814,775893,158616,2.110766,2.112228,0.000000,4.332615,0.207444,0.000000,100,100,1
2934815,443484,179855,0.000000,0.000000,0.000000,0.000000,0.162130,0.000000,100,100,1
2934816,96906,95429,0.118588,0.053820,0.064767,0.172408,0.116388,0.038796,100,100,1

In [5]:
df.query('attack==0')

,pkSeqID,seq,mean,stddev,min,max,srate,drate,N_IN_Conn_P_DstIP,N_IN_Conn_P_SrcIP,attack
3377,3576923,7,4.898582,0.235357,0.598172,4.999866,10.932437,0.000000,7,7,0
7683,3577233,17475,0.000000,0.000000,0.000000,0.000000,0.400001,0.000000,20,11,0
8844,3576925,1,4.947914,0.228494,0.768694,4.999863,17.634146,17.633553,2,20,0
10110,3577135,23527,0.000000,0.000000,0.000000,0.000000,0.399866,0.000000,18,18,0
16479,3576909,4081,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,14,0
...,...,...,...,...,...,...,...,...,...,...,...
2896922,3577079,5442,0.278547,0.000000,0.278547,0.278547,0.000000,0.000000,1,23,0
2907572,3577016,3793,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,1,0
2912220,3577117,16848,0.161776,0.323125,0.000000,0.808025,0.644334,0.555538,4,7,0
2917520,3577246,23414,0.007598,0.000000,0.007598,0.007598,0.000000,0.000000,15,20,0
2932908,3576916,4137,0.000000,0.000000,0.000000,0.000000,0.399842,0.000000,8,12,0

In [6]:

X=df[['pkSeqID','seq','mean','stddev','min','max','srate','drate','N_IN_Conn_P_DstIP','N_IN_Conn_P_SrcIP']]
y=df['attack']

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test= train_test_split(X,y,test_size=0.2,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [16]:
#creamos modelo
model=tf.keras.Sequential([
tf.keras.layers.Input((None,10,)),
tf.keras.layers.Dense(16, activation='relu'),
tf.keras.layers.Dropout(0.2),
#tf.keras.layers.Dense(32, activation='relu'),
tf.keras.layers.Dense(1, activation='sigmoid')
])

In [17]:
#compilmaos el modelo
history=model.compile( optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [18]:
#entrenamos modelo
model.fit(X_train, y_train ,validation_split=0.2,epochs=5)

Epoch 1/5
WARNING:tensorflow:Model was constructed with shape (None, None, 10) for input KerasTensor(type_spec=TensorSpec(shape=(None, None, 10), dtype=tf.float32, name='input_3'), name='input_3', description="created by layer 'input_3'"), but it was called on an input with incompatible shape (None, 10).
WARNING:tensorflow:Model was constructed with shape (None, None, 10) for input KerasTensor(type_spec=TensorSpec(shape=(None, None, 10), dtype=tf.float32, name='input_3'), name='input_3', description="created by layer 'input_3'"), but it was called on an input with incompatible shape (None, 10).
58656/58697 [============================>.] - ETA: 0s - loss: 0.0031 - accuracy: 0.9998WARNING:tensorflow:Model was constructed with shape (None, None, 10) for input KerasTensor(type_spec=TensorSpec(shape=(None, None, 10), dtype=tf.float32, name='input_3'), name='input_3', description="created by layer 'input_3'"), but it was called on an input with incompatible shape (None, 10).
58697/58697 [==============================] - 80s 1ms/step - loss: 0.0031 - accuracy: 0.9998 - val_loss: 8.7294e-04 - val_accuracy: 0.9999
Epoch 2/5
58697/58697 [==============================] - 93s 2ms/step - loss: 0.0019 - accuracy: 0.9999 - val_loss: 9.5534e-04 - val_accuracy: 0.9999
Epoch 3/5
58697/58697 [==============================] - 94s 2ms/step - loss: 0.0013 - accuracy: 0.9999 - val_loss: 7.6324e-04 - val_accuracy: 0.9999
Epoch 4/5
58697/58697 [==============================] - 89s 2ms/step - loss: 0.0012 - accuracy: 0.9999 - val_loss: 4.8149e-04 - val_accuracy: 0.9999
Epoch 5/5
58697/58697 [==============================] - 82s 1ms/step - loss: 0.0014 - accuracy: 0.9999 - val_loss: 8.9831e-04 - val_accuracy: 0.9999

In [19]:
pred_train= model.predict(X_train)
scores = model.evaluate(X_train, y_train, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores[1], 1 - scores[1]))   
 
pred_test= model.predict(X_test)
scores2 = model.evaluate(X_test, y_test, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {}'.format(scores2[1], 1 - scores2[1]))

WARNING:tensorflow:Model was constructed with shape (None, None, 10) for input KerasTensor(type_spec=TensorSpec(shape=(None, None, 10), dtype=tf.float32, name='input_3'), name='input_3', description="created by layer 'input_3'"), but it was called on an input with incompatible shape (None, 10).
73371/73371 [==============================] - 56s 764us/step
Accuracy on training data: 0.9998475313186646%
 Error on training data: 0.00015246868133544922
18343/18343 [==============================] - 14s 744us/step
Accuracy on test data: 0.999841570854187%
 Error on test data: 0.00015842914581298828